

p     {
	  color: snow;
	  background: black;
	  font-weight: italic;
	  text-align: center;
}
h1 {
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}